.faq {
  padding: 50px 20px;
  background-color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.faq h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(226, 122, 31);
}

.faq p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 30px;
}

.faq-accordion {
  max-width: 900px;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 15px;
  /* border-radius: 12px; */
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  background-color: white;
  transition: transform 0.3s;
}

.faq-item:hover {
  transform: translateY(-3px);
  
}

.faq-question {
  width: 100%;
  padding: 18px 20px;
  background: aliceblue;
  border: none;
  text-align: left;
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.faq-question:hover {
  background: rgb(226, 122, 31, 0.15);
}

.faq-answer {
  display: none;
  padding: 15px 20px;
  font-size: 0.95rem;
  line-height: 1.5;
  color: #333;
  border-top: 1px solid #ddd;
}

.hero-bg-faq {
  background: url("../assets/faq-bg.png") center/cover no-repeat;
  height: 300px; 
  min-height: 300px; 
  max-height: 300px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden; 
}


.hero-bg-faq::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.641);
}

/* ==============================
   RESPONSIVIDADE PADRONIZADA
   ============================== */


@media (max-width: 600px) {
  .faq {
    padding: 30px 15px;
  }

  .faq h2 {
    font-size: 1.6rem;
  }

  .faq p {
    font-size: 0.95rem;
  }

  .faq-question {
    font-size: 1rem;
    padding: 15px;
  }

  .faq-answer {
    font-size: 0.9rem;
  }

  .hero-bg-faq {
    height: 220px;
  }
}


@media (min-width: 600px) {
  .faq h2 {
    font-size: 1.8rem;
  }

  .faq p {
    font-size: 1rem;
  }

  .faq-accordion {
    max-width: 100%;
  }
}


@media (min-width: 768px) {
  .faq {
    padding: 50px 30px;
  }

  .faq h2 {
    font-size: 1.9rem;
  }

  .faq-question {
    font-size: 1.05rem;
  }

  .faq-answer {
    font-size: 0.95rem;
  }
}

@media (min-width: 992px) {
  .faq {
    padding: 60px 40px;
  }

  .faq h2 {
    font-size: 2rem;
  }

  .faq-accordion {
    max-width: 900px;
  }

  .faq-question {
    font-size: 1.1rem;
  }
}

@media (min-width: 1300px) {
  .faq {
    max-width: 1200px;
    margin: 0 auto;
  }

  .faq h2 {
    font-size: 2.2rem;
  }

  .faq p {
    font-size: 1.1rem;
  }

  .faq-accordion {
    max-width: 1000px;
  }
}
