
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
  color: black;
}


.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}


.cabecalho {
  display: flex;
  align-items: center;         
  justify-content: space-between;
  padding: 10px 0;
  background-color: aliceblue;
}

.cabecalho .logo img {
  width: 120px;               
  height: auto;
  object-fit: contain;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.menu-item a {
  color: black;
  font-size: 0.85rem;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  
}

.menu-item:hover a {
  background-color: rgb(186, 217, 244);
}

.menu-search form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#campo-de-busca {
  border-radius: 16px;
  border: 0.5px solid black;
  padding: 6px 10px;
  width: 120px;
}

button[type="submit"] {
  padding: 8px 15px;
  background-color: rgb(186, 217, 244);
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: rgb(156, 197, 234);
}


