.buttons {
    display: flex;         
    gap: 20px;      
    justify-content: center;
    margin-top: 20px;
}

.buttons a {
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    background-color: rgb(186, 217, 244);
    border-radius: 10px;
    transition: 0.3s ease;
    text-align: center;
    width: 20%;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 2rem;
}

.buttons a:first-child:hover {
    background-color: rgb(226, 122, 31);
    transform: scale(1.05);
}

.buttons a:hover {
    background-color: rgb(60, 202, 50);
    transform: scale(1.05);
}



ul li {
    list-style: none;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.resumo {
    margin-bottom: 5rem;
}

.resumo ul {
    padding-bottom: 2rem;
}

.highlight {
    color: rgb(226, 122, 31);
}